http://:3001 {
  root * thumbnails
  file_server {
    browse
  }
  encode zstd
  header Access-Control-Allow-Origin "*"

  @second_dir_ready {
    file {
      try_files /upload_done.flag
    }
  }

  handle @second_dir_ready {
    root * resized
    file_server {
      browse
    }
  }
}